// =============================================================================
// Light theme 404 page
// =============================================================================

// Variables
// =============================================================================

// Shades of gray

$black: #222222;
$gray: #888888;
$yellow: #00baff;
$white: #fafafa;

// Font colors

$base-font-color: $gray;
$base-accent-color: $gray;
$base-accent-highlighted-color: $yellow;

// Border color

$base-border-color: $gray;

// Page specific colors

$body-background: $white;
$header-logo-color: $black;
$header-link-color: $gray;
$header-link-color-hover: $gray;
$article-header-title-color: $gray;
$article-header-description-color: $gray;
$article-post-titles-color: $gray;
$article-footer-color: $gray;
$article-footer-link-color: $gray;
$article-footer-link-color-hover: $gray;
$article-paginator-color-hover: $gray;

// Imports
// =============================================================================

// Vendors

@import "vendor/normalize";

// Settings

@import "variables";
@import "mixins";
@import "base";

// Styles

.notfound-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notfound-content {
  flex: auto;
  max-width: 250px;
  text-align: center;
  h1 {
    display: inline-block;
    margin-bottom: 4px;
    font-family: $sans-serif;
    font-size: 36px;
    a {
      color: $gray;
    }
  }
  p {
    display: block;
    text-align: center;
    a {
      color: $gray;
    }
  }
}
